.criar{
  width: 100%;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  z-index: 1;
  overflow-y: scroll;
}

.tituloSecao{
  font-size: 23px;
  font-weight: 700;

  margin-bottom: 50px;

  text-align: center;
}

.subTituloSecao{
  width: 100%;
  font-size: 23px;
  font-weight: 700;

  margin-top: 20px;
  margin-bottom: 28px;
}

.inputs{
  width: 600px;
  padding: 21px;
  margin-bottom: 24px;
  gap: 9px;

  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs input, .pergunta input{
  width: 564px;
  height: 46px;
  padding-left: 23px;

  border: 1px solid #D1D1D1;
  border-radius: 5px;

  font-style: italic;
}

.pergunta{
  width: 600px;
  min-height: 100px;

  padding: 20px;
  margin-bottom: 20px;
  gap: 9px;

  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.editandoPergunta{
  overflow: visible;
  min-height: 850px;
}

.criar button{
  width: 369px;
  min-height: 54px;

  margin-top: 85px;

  font-size: 21px;

  background-color: #EC362D;
  color: #FFF5F4;
  border: none;
  border-radius: 15px;
}

.QuizzPronto{
  background-color: #ffffff;
}

.QuizzPronto .imagem{
  width: 500px;
  min-height: 266px;

  background-position: center center;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/imagens/arara.jpg');

  position: relative;
}

.imagem span{
  color: #ffffff;
  font-size: 23px;

  position: absolute;
  bottom: 10px;
  left: 23px;
}

.voltarHome{
  color: #818181;
  background-color: none;
  margin: none;
  padding: 20px;
}

button, .quiz:hover{
  cursor: pointer;
}

.sumir{
  display: none;
}