body {
  font-family: Roboto;

  background-color: #f7f7f7;
}

.tela-inicial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  height: 70px;

  background-color: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h1 {
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.sem-quizzes {
  width: 1050px;

  padding: 50px;
  margin: 140px 0 80px 0;
  gap: 30px;

  border: 1px dashed #D5D5D5;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sem-quizzes span {
  color: #B9B9B9;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.sem-quizzes button {
  width: 150px;
  min-height: 40px;

  color: #EC362D;
  border: 1.5px dashed #EC362D;
  border-radius: 50px;

  font-size: 21px;
  line-height: 25px;
}

.quizzes-usuario , .quizzes-pulblicos {
  display: flex;
  flex-direction: column;

}

.quizzes-usuario , .quizzes-pulblicos

.quizzes-usuario {
  padding-top: 170px;
}

.titulo-com-botao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todos-os-quizzes , .seus-quizzes{
  width: 1100px;
  
  padding-top: 13px;
  margin-bottom: 50px;
  gap: 15px;
  
  display: flex;
  flex-wrap: wrap;
}

div .titulo-quizzes {
  color: #000000;
  
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.quizz {
  width: 340px;
  height: 181px;
  
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  background-repeat: no-repeat;
  background-size: 100%;
}

.quizz span {
  max-width: 100%;
  
  color: #FFFFFF;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  word-wrap: break-word;
  
  padding-bottom: 5px;
}

.quizzes-usuario div ion-icon {
  color: #EC362D;
  
  width: 30px;
  height: 30px;
  
  padding-left: 14px;
}

.mensagemErro{
  width: 100%;
  
  display: flex;
  justify-content: center;
  
  position: fixed;
  top: 150px;
  z-index: 20;
}

.mensagemErro .displayErro{
  width: 250px;
  height: 200px;
  
  gap: 10px;
  
  color: #EC362D;
  font-size: 15px;
  font-weight: 900;
  text-align: center;

  border: 2px solid #EC362D;
  border-radius: 10px;
  background-color: #FFFFFF;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mensagemErro .displayErro button{
  width: 75px;
  height: 25px;
  
  border: none;
  border-radius: 5px;
  
  background-color: #EC362D;
  color: #FFFFFF; 
}

.sumir{
  display: none;
}

@media(max-width: 1100px){
  header{
    min-width: 100vh;
  }
  .tela-inicial{
    min-width: 100vh;
  }
  .seus-quizzes, .todos-os-quizzes{
    width: 95vh;
    flex-direction: column;
    align-items: center;
  }
  .quizz{
    width: 100vh;
  }
}